*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	outline: 0;
}
.wrapper {
	height: 100%;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 20px;
}
body {
	margin: 50px;
}
span, p, div {
	font-family: Arial, sans-serif;
}
.reshiandimage {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.image {
	width: 50%;
	margin-left: 50px;
}
@media (max-width: 1200px) {
	body {
		margin: 50px;
	}
	.reshiandimage {
		display: block;
		align-items: 0;
	}
	.image {
		width: 100%;
		margin-left: 0;
	}
}
@media (max-width: 768px) {
	body {
		margin: 10px;
	}
	.variantyotvetov {
		margin-top: 25px;
	}
}


/* ============================ */


.alltxtandhearts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 50px 0;
}

.boxoutheart {
	position: relative;
	width: 150px;
	height: 185px;
	border: 2px solid grey;
	margin: 0 auto;
	overflow: hidden;
}
.img1, .img2, .img3, .img4 {
	opacity: 0;
	-webkit-transition: 1s;
	transition: 1s;
}
.img1.active, .img2.active, .img3.active, .img4.active {
	opacity: 1;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#002340;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-top: 15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
}



@media (max-width: 748px) {
	.box4 {
		margin-top: 30px;
	}
}
@media (max-width: 584px) {
	.box3 {
		margin-top: 30px;
	}
}
@media (max-width: 360px) {
	.box2 {
		margin-top: 30px;
	}
}



/* Cake */
.allcake{
	height: 320px;
	width: 300px;
	position: absolute;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}
.cake{
	height: 70px;
	width: 180px;
	background-color: #fcf18e;
	position: absolute;
}
.c1{
	bottom: 0;
	left:60px;
}
.cream{
	background-color: #fa406b;
	height: 10px;
	width: 100%;
	position: absolute;
	top:30px;
}
.icing{
	position: relative;
}
.icing>div{
	background-color: #fbd028;
	height: 12.5px;
	width: 26px;
	border-radius: 0 0 26px 26px;
	position: absolute;
}
.icing>div:nth-child(1){
	left:-2px;
}
.icing>div:nth-child(2){
	left:26px;
}
.icing>div:nth-child(3){
	left:52px;
}
.icing>div:nth-child(4){
	left:78px;
}
.icing>div:nth-child(5){
	left:104px;
}
.icing>div:nth-child(6){
	left:130px;
}
.icing>div:nth-child(7){
	left:156px;
}
.cherries>div{
	background-color: #f7174c;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	position: absolute;
	top:-18px;
}
.cherries>div:nth-child(1){
	left:8px;
}
.cherries>div:nth-child(2){
	left:40px;
}
.cherries>div:nth-child(3){
	left:70px;
}
.cherries>div:nth-child(4){
	left:100px;
}
.cherries>div:nth-child(5){
	left:130px;
}
.cherries>div:nth-child(6){
	left:156px;
}
.c2{
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	bottom: 62px;
	left: 60px;
	z-index: -1;
}
.c3{
	transform: scale(0.6);
	-webkit-transform: scale(0.6);
	bottom: 110px;
	left: 60px;
	z-index: -2;
}
.candle{
	background-color: #f8f8f8;
	height: 70px;
	width: 20px;
	position: absolute;
	z-index: -3;
	bottom: 60px;
	left: 80px;
}
.flame{
	background-color: #fbb200;
	height: 22px;
	width: 22px;
	border-radius: 0 50% 50% 50%;
	position: absolute;
	top: -22px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	box-shadow:0 0 15px 2px rgb(251, 178, 0,0.6);
	animation: glow 2s infinite;
	-webkit-animation: glow 2s infinite;
}
@keyframes glow{
	50%{
		box-shadow:0 0 2px 0 rgb(251, 178, 0,0.6);
		top:-20.5px;
	}
}
a{
	color: white;
	font-family: "Rubik",sans-serif;
	position:absolute;
	right:20px ;
	top:20px;
	border:2px solid white;
	text-decoration:none;
}
@media screen and (min-width: 451px) {
	a{
		font-size: 25px;
		padding:8px 12px 8px 12px;
	}
}

@media screen and (max-width: 450px) {
	a{
		font-size: 18px;
		padding:5px 8px 5px 8px;
	}
}